<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Custom 404 Error Page -->
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        
        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <rule name="Custom404" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/404\.html$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/404.html" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Disable directory browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Compression for faster loading -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <!-- Static content caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
